body {
  font-family: "Assistant";
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar {
  max-height: 60px;
  background-color: #ffffff !important;
}

.navbar-light {
  background-color: #ffffff;
}

.btn-login {
  background-color: #041E5B;
  color: #ffffff;
  margin-top: -10px !important;
  margin-bottom: -10px !important;
  margin-right: -18px !important;
  height: 60px;
  border-radius: 0;
  width: 100px;
}

.btn-login:hover {
  background-color: #042F94;
  color: white;
}

@media only screen and (max-width: 576px) {
  .btn-login {
    margin-top: 50px;
    height: 40px;
  }
  .navbar {
    margin: 0;
  }
  .container-fluid .navbar {
    margin: 0;
  }
  .navbar .navbar-collapse {
    background-color: #ffffff;
    padding: 30px;
  }
  .popular-trip {
    margin-bottom: 650px;
  }
}

header {
  color: #fff;
  background-image: url(../images/header.png);
  background-size: cover;
  padding: 150px 0 84px;
  margin-top: -70px;
}

header h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #FFA043;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 170px;
}

header .btn-get-started:hover {
  background-color: #df760e;
  color: #ffffff;
}

.statistic-bar {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  color: #041E5B;
}

.statistic-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
}

.popular-trip {
  height: 504px;
  background-color: #051845;
  margin-top: -100px;
  color: #ffffff;
  padding-top: 130px;
}

.popular-trip h3 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

.popular-trip p {
  font-size: 18px;
  color: #ffffff;
}

.popular-trip .card {
  background-color: #000000;
  min-height: 376px;
  background-size: cover;
  border: 0;
  border-radius: 0;
}

.btn-popular-trip button {
  background-color: #FFA043;
  color: white;
}

.btn-popular-trip button:hover {
  background-color: #fd860e;
  color: white;
}

.popular-location {
  font-size: 20px;
  font-weight: 600;
}

.network {
  margin-top: 250px;
}

.network h3 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: bold;
  color: #051845;
}

.network p {
  font-size: 18px;
  color: #051845;
}

.testimonials {
  padding-top: 70px;
  max-height: 550px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F5F5F5));
  background-image: linear-gradient(180deg, #ffffff 0%, #F5F5F5 100%);
}

.testimonials h3 {
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: bold;
  color: #051845;
}

.testimonials p {
  font-size: 18px;
  color: #051845;
}

.testimonials .card {
  border-radius: 11px;
  height: 480px;
}

.testimonials .card .card-body {
  padding: 40px;
}

.testimonials .card .card-body p {
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
  color: #5C5F65;
}

.testimonials .card .card-footer {
  background-color: transparent;
  font-size: 18px;
  color: #7D7D7D;
  font-weight: 600;
}

.profile-name {
  color: #051845;
  font-size: 23px;
  font-weight: 700px;
}

.btn-started-testimonial {
  background-color: #FFA043;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 170px;
}

.btn-started-testimonial:hover {
  background-color: #df760e;
  color: #ffffff;
}

.btn-need-testimonial {
  background-color: #E9E9E9;
  color: #989898;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 170px;
}

.btn-need-testimonial:hover {
  background-color: #cccccc;
  color: #989898;
}

.section-footer {
  margin-top: 300px;
}

.bg-header {
  height: 310px;
  background-color: #EAEAEA;
  margin-top: -70px;
  margin-bottom: 800px;
}

.content {
  min-height: 100vh;
}

.breadcrumb {
  margin-top: 100px;
  padding: 0;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: #041E5B;
}

.breadcrumb-item a {
  color: #041E5B;
}

.card-detail {
  padding: 30px;
  border-radius: 11px;
}

.img-features {
  width: 45px;
  height: 45px;
  float: left;
}

.description {
  padding: 0;
  float: left;
}

.description h5 {
  padding: 0;
  margin: 0;
}

.about h3 {
  font-size: 20px;
}

.about p {
  font-size: 16px;
  color: #8E8F8F;
}

.xzoom-gallery {
  width: 126px;
}

.xactive {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xzoom-container {
  display: block;
}

.xzoom-container .xzoom {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.xzoom-thumbs a {
  text-decoration: none;
}

.xzoom-thumbs .xactive {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #08BCBC;
}

.join .btn-join-trip {
  background-color: #FFA043;
  color: white;
  border-radius: 0;
}

.join .btn-join-trip:hover {
  background-color: #ee8924;
}

.card-member {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.image-member {
  width: 45px;
}

.more {
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #022880;
  background-color: #ECF8FF;
}
/*# sourceMappingURL=main.css.map */