$main-font: "Assistant";

@mixin title($color){
    h3{
        font-family: "Playfair Display";
        font-size: 40px;
        font-weight: bold;
        color:$color;
    }
    p{
        font-size: 18px;
        color:$color;
    }
}

@mixin button-primary($color){
    background-color: $color ;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 170px;

}

@mixin button-secondary($color){
    background-color: $color ;
    color: #989898;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 170px;

}

body{
    font-family: $main-font;
    background-color: #ffffff;
    margin:0;
    padding:0;
}

.navbar-brand{
    img{
        max-height: 40px;
    }
}

.navbar{
    max-height: 60px;
    background-color: #ffffff!important;
}

.navbar-light{
    background-color: #ffffff;
}

.btn-login{
    background-color: #041E5B;
    color: #ffffff;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    margin-right: -18px !important ;
    height: 60px;
    border-radius:0;
    width: 100px;

    &:hover{
        background-color:#042F94;
        color: white;
    }
}

@media only screen and(max-width: 576px) {

    .testimonials{
        .card{
            height:50px;
        }
    }
    .btn-login{
        margin-top: 50px;
        height: 40px;
    }

    .navbar{
        margin:0;
        .container-fluid & {
            margin: 0;
        }
        .navbar-collapse{
                background-color: #ffffff;
                padding: 30px;
        }
    }

}


header{
    color: #fff;
    background-image: url(../images/header.png);
    background-size: cover;
    padding: 150px 0 84px;
    margin-top: -70px;
    h1{
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 50px;
    }

    p{
        font-size: 22px;
    }

    .btn-get-started{
        @include button-primary(#FFA043);

        &:hover{
            background-color: #df760e;
            color: #ffffff;  
        }
    }

}

.statistic-bar{
    transform: translateY(-50px);
    color: #041E5B;
}

.statistic-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.popular-trip{
    @include title(#ffffff);
    color:#ffffff;

    .content-popular-trip{
        margin-top: -350px;
    }
    
    .bg-popular-trip{
        padding-top: 130px;
        height: 504px;
        background-color: #051845;
        margin-top: -100px;
    }
    .card{
        background-color: #000000;
        min-height: 376px;
        background-size: cover;
        border: 0;
        border-radius: 0;
    }
  
}


.btn-popular-trip{
    a{
        background-color: #FFA043;
        color:white;
        &:hover{
            background-color: #fd860e;
            color:white;
        }

    }
}

.popular-location{
    font-size:20px;
    font-weight:600;
}

.network{
    margin-top: 100px;
    @include title( #051845)
}
.testimonials{
    @include title(#051845);
    .bg-testimonials{
        height: 550px;
        background-image: linear-gradient(180deg,#ffffff 0%, #F5F5F5 100%);
    }

    .testimonials-content{
        margin-top: -480px;
    }

    .card{
        border-radius: 11px;
        height: 400px;
        .card-body{
            padding:40px;
            p{
                line-height: 28px;
                font-size:18px;
                font-weight: 300;
                color: #5C5F65;
            }
        }
    
        .card-footer{
            background-color: transparent;
            font-size: 18px;
            color: #7D7D7D;
            font-weight: 600;
        }
    }
}

.profile-name{
    color: #051845;
    font-size:23px;
    font-weight:700px
}

.btn-started-testimonial{
    @include button-primary(#FFA043);

    &:hover{
        background-color: #df760e;
        color: #ffffff;  
    }
}

.btn-need-testimonial{
    @include button-secondary(#E9E9E9);
    &:hover{
        background-color: #cccccc;
        color: #989898;  
    }

}

.section-footer{
    margin-top: 100px;
    // max-height: 120px;
}

.bg-header{
    // height: 310px;
    max-height: 310px;
    background-color: #EAEAEA;
    margin-bottom: 800px;
}

.bg-header-details{
        min-height: 310px;
        background-color:#eaeaea;
        margin-top: -70px;
    
}

.bg-header-checkout{
    min-height: 310px;
    background-color:#eaeaea;
    margin-top: -70px;

}

.content-details, .content-checkout{
    margin-top: -300px;
}

.content{
    min-height: 100vh;
}

.breadcrumb {
    margin-top: 100px;
    padding: 0;

    &-item.active{
            font-weight: bold;
            color: #041E5B;
    }

    &-item a{
       color: #041E5B;
    }

}

.card-detail{
    padding: 30px;
    border-radius: 11px;
    color:#041E5B;
}

.img-features{
    width: 45px;
    height: 45px;
    float: left;
}

.description{
    padding: 0;
    float: left;
    h5{
        padding: 0;
        margin:0;
    }
}

.about{
    h3{
        font-size: 20px;
    }
    p{
        font-size: 16px;
        color:#8E8F8F
    }
}

.xzoom-gallery{
    width: 126px;
}

.xactive{
    box-shadow: none;
}

.xzoom-container{
    display: block;
    .xzoom{
        box-shadow: none;

    }
    
}

.xzoom-thumbs{
    a{
        text-decoration: none;
    }
    .xactive{
        box-shadow: none;
        border: 2px solid #08BCBC;
    }
}

.join{
 
    .btn-join-trip{
        background-color: #FFA043;
        color: white;
        border-radius: 0;
        &:hover{
            background-color: #ee8924;
        }
    }
}

.card-member{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.image-member{
    width: 45px;
}

.more{
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #022880;
    background-color: #ECF8FF;
}

.description{
    p{
        color: #8E8F8F;
    }
}

ul.list-unstyled{
    li{
        a{
            color:#041E5B
        }
    }
}

.btn-add-now{
    background-color: #041E5B;
    color: #fff;

    &:hover{
        background-color: #053094;
        color: #fff;
    }
}

.disclaimer{
    font-size: 16px;
    color: #7A7F8B;
    font-weight: 300;
}

.gj-datepicker{
    .datepicker{
        border-right:0;
    }

    .input-append{
        .btn{
            padding-right: 30px;
        }
    }
}

.bank{
    .bank-item{
        h4{
            margin-bottom: 0;
            font-size: 18px;
        }
        .instruction{
            overflow:hidden;
        }
    }


    .bank-icon{
        float: left;
        margin-right: 20px;
    }
}

.section-success{

    img{
        width: 200px;
        height: 200px;
    }

    h3{
        color:#041E5B;
        font-size: 25px;
    }

    p{
        font-size:18px;
        font-weight: 300;
        color: #7A7F8B;
    }

    .btn-back-home{
        background-color: #041E5B;
        color: #fff;

        &:hover{
            background-color: #0a3086;
            color: #fff;
        }
    }
}




